body {
  background-color: #e3f6f5;
  font-family: "Open Sans", sans-serif;
  color: #272343;
}
.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(39, 68, 114, 0.2);
}
header {
  border-bottom: 1px solid #e3f6f5;
  padding: 0 0 20px 0;
}
form {
  display: flex;
  justify-content: space-between;
}
.search-field {
  width: 78%;
  border: 1px solid #e3f6f5;
  border-radius: 18px;
  padding: 15px;
  background-color: #e3f6f5;
  font-size: 15px;
}
.search-button {
  width: 20%;
  background: #91d3d3;
  border: 1px solid #91d3d3;
  border-radius: 18px;
  transition: all 200ms ease-in-out;
  color: #272343;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}
.search-button:hover {
  cursor: pointer;
}
.current-conditions-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.condition-type {
  color: rgba(39, 35, 67, 0.6);
}
.conditions-result {
  color: #91d3d3;
  font-weight: bold;
}
.temperature {
  font-size: 80px;
  font-weight: bold;
}
#current-temp {
  margin-top: 27px;
  margin-bottom: 27px;
}
#conditions-icon {
  display: inline;
  position: relative;
  bottom: -20px;
}
.unit {
  font-size: 20px;
  position: relative;
  top: -35px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
  color: rgba(39, 35, 67, 0.6);
}
h1 {
  font-size: 40px;
}
.weather-forecast-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.forecast-col {
  text-align: center;
  padding: 0 20px 0 20px;
  column-width: 60px;
}
.forecast-day {
  font-size: 14px;
  opacity: 0.6;
}
.forecast-conditions-icon {
  width: 50px;
}
.forecast-temperature {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.forecast-temperature-min {
  opacity: 0.8;
  color: #91d3d3;
}
.forecast-temperature-max {
  color: #91d3d3;
  font-weight: 800;
}
footer {
  border-top: 1px solid #e3f6f5;
  padding: 20px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: center;
}
a {
  color: #91d3d3;
}
