body {
  background-color: #e3f6f5;
  font-family: "Open Sans", sans-serif;
  color: #272343;
}
.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(39, 68, 114, 0.2);
}
header {
  border-bottom: 1px solid #e3f6f5;
  padding: 0 0 20px 0;
}
form {
  display: flex;
  justify-content: space-between;
}
.search-field {
  width: 78%;
  border: 1px solid #bae8e8;
  border-radius: 16px;
  padding: 15px;
}
.search-button {
  width: 20%;
  background: #bae8e8;
  border: 1px solid #bae8e8;
  border-radius: 16px;
  transition: all 200ms ease-in-out;
  color: #272343;
  padding: 15px;
}
.search-button:hover {
  cursor: pointer;
}
.current-conditions-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.conditions-result {
  color: #91d3d3;
}
.temperature {
  font-size: 80px;
  font-weight: bold;
}
#current-temp {
  margin-top: 27px;
  margin-bottom: 27px;
}
.temp-range {
  font-size: 22px;
  font-weight: lighter;
  position: relative;
  right: -10px;
}
h2 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
}
h1 {
  font-size: 40px;
}
footer {
  border-top: 1px solid #e3f6f5;
  padding: 20px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  text-align: center;
}
a {
  color: #91d3d3;
}
